/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole CSS */
body {
    font-family: 'Fredoka', sans-serif;
}
/* HEADER */
header {
    text-align: center;
    margin: auto;
    max-width: 1170px;
}
h1 {
    font-size: 40px;
    color: deeppink;
    margin: 20px 0;
}
p {
    font-weight: 400;
    margin: 50px 0;
}
/* MAIN */
.columns {
    max-width: 1170px;
    margin: auto;
}
.col {
    width: calc(100% / 3);
    float: left;
    padding: 20px;
}
/* contenuto delle caselle */
.card {
    background-color: black;
    height: 100px;
    box-shadow: 0px 0px 10px 0px black;
}
.card img {
    height: 100px;
    float: left;
}
.info {
    float: right;
    width: calc(100% - 100px);
    padding-left: 20px;
}
.info h3, h5 {
    color: white;
}
.info h3 {
    margin: 15px 0px 5px;
    text-transform: uppercase;
}
.info a {
    color: rgb(125, 162, 231);
    text-decoration: none;
}
.info h5 {
    margin-bottom: 5px;
    font-weight: 400;
}
/* Clearfix */
.clearfix::after {
    content:'';
    display: table;
    clear: both;
}