/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
body {
    font-family: 'Fredoka', sans-serif;
}
header {
    text-align: center;
    margin: auto;
    max-width: 1170px;
}
h1 {
    color: deeppink;
    margin: 20px 0;
}
p {
    margin: 50px 0;
}
/* MAIN */
/* struttura*/
.container {
    margin: auto;
    max-width: 1170px;
}
.struttura {
    width: calc(100% / 3);
    float: left;
}
.struttura .col {
    height: 100px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.95);
    margin-bottom: 50px;
}
.struttura .col.due {
    margin: auto;
}
.struttura .col.tre {
    float: right;
}
/* contenuto delle caselle */
.col img {
    height: 100px;
    float: left;
}
.col .description {
    float: left;
    margin: 10px 0px 10px 10px;
    color: white
}
.description a {
    color: rgb(125, 162, 231);
    text-decoration: none;
}